name: Build C++

on:
  push:
    branches: [ main, ci/cd ]
#  pull_request:
#    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build project
        run: g++ -std=c++17 main.cpp
